<a href="https://colab.research.google.com/github/salman-118114/Inventory_optimization_FullStackDataAnalysis/blob/main/Walmart_Inventory_optimization_data_quality_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inventory_optimization_FullStackDataAnalysis

In [1]:
import pandas as pd

sales_train_validation_df_original = pd.read_csv('sales_train_validation.csv')
calender_df_original = pd.read_csv('calendar.csv')

# data quality check before melting

In [2]:
sales = sales_train_validation_df_original.copy()
calender = calender_df_original.copy()

In [4]:
sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1.0,3.0,0.0,1.0,1.0,1.0,3.0,0.0,1.0,1.0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1.0,0.0,5.0,4.0,1.0,0.0,1.0,3.0,7.0,2.0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2.0,1.0,1.0,0.0,1.0,1.0,2.0,2.0,2.0,4.0

In [5]:
calender.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [7]:
sales.shape

(9030, 1919)

In [8]:
calender.shape

(1969, 14)

In [11]:
sales_columns = sales.columns[:10].tolist()
sales_columns

['id',
 'item_id',
 'dept_id',
 'cat_id',
 'store_id',
 'state_id',
 'd_1',
 'd_2',
 'd_3',
 'd_4']

In [12]:
calender_columns = calender.columns.tolist()
calender_columns

['date',
 'wm_yr_wk',
 'weekday',
 'wday',
 'month',
 'year',
 'd',
 'event_name_1',
 'event_type_1',
 'event_name_2',
 'event_type_2',
 'snap_CA',
 'snap_TX',
 'snap_WI']

checking missing values

In [15]:
sales_missing = sales.isna().sum().sum()
sales_missing

np.int64(495)

In [19]:
calender_missing = calender.isna().sum()
calender_missing

date               0
wm_yr_wk           0
weekday            0
wday               0
month              0
year               0
d                  0
event_name_1    1807
event_type_1    1807
event_name_2    1964
event_type_2    1964
snap_CA            0
snap_TX            0
snap_WI            0
dtype: int64

filling event na vlaues with no events and event type with none

In [20]:
calender['event_name_1'] = calender['event_name_1'].fillna('NoEvent')
calender['event_type_1'] = calender['event_type_1'].fillna('None')
calender['event_name_2'] = calender['event_name_2'].fillna('NoEvent')
calender['event_type_2'] = calender['event_type_2'].fillna('None')

In [21]:
calender.isna().sum()

date            0
wm_yr_wk        0
weekday         0
wday            0
month           0
year            0
d               0
event_name_1    0
event_type_1    0
event_name_2    0
event_type_2    0
snap_CA         0
snap_TX         0
snap_WI         0
dtype: int64

Duplicate checks fpr d column

In [22]:
dup_calender = calender[calender.duplicated(subset='d')]
dup_calender

Empty DataFrame
Columns: [date, wm_yr_wk, weekday, wday, month, year, d, event_name_1, event_type_1, event_name_2, event_type_2, snap_CA, snap_TX, snap_WI]
Index: []

In [23]:
dup_sales = sales[sales.duplicated(subset='id')]
dup_sales

Empty DataFrame
Columns: [id, item_id, dept_id, cat_id, store_id, state_id, d_1, d_2, d_3, d_4, d_5, d_6, d_7, d_8, d_9, d_10, d_11, d_12, d_13, d_14, d_15, d_16, d_17, d_18, d_19, d_20, d_21, d_22, d_23, d_24, d_25, d_26, d_27, d_28, d_29, d_30, d_31, d_32, d_33, d_34, d_35, d_36, d_37, d_38, d_39, d_40, d_41, d_42, d_43, d_44, d_45, d_46, d_47, d_48, d_49, d_50, d_51, d_52, d_53, d_54, d_55, d_56, d_57, d_58, d_59, d_60, d_61, d_62, d_63, d_64, d_65, d_66, d_67, d_68, d_69, d_70, d_71, d_72, d_73, d_74, d_75, d_76, d_77, d_78, d_79, d_80, d_81, d_82, d_83, d_84, d_85, d_86, d_87, d_88, d_89, d_90, d_91, d_92, d_93, d_94, ...]
Index: []

[0 rows x 1919 columns]

No duplicates found

date alignment

In [25]:
sales_days = [col for col in sales.columns if col.startswith('d_')]
calendar_days = calender['d'].tolist()

missing_in_calendar = set(sales_days) - set(calendar_days)
missing_in_sales = set(calendar_days) - set(sales_days)

print(f"Total sales day columns: {len(sales_days)}")
print(f"Total calendar day rows: {len(calendar_days)}")
print("Days missing in calendar:", missing_in_calendar)
print("Days missing in sales:", missing_in_sales, "\n")

Total sales day columns: 1913
Total calendar day rows: 1969
Days missing in calendar: set()
Days missing in sales: {'d_1932', 'd_1953', 'd_1963', 'd_1928', 'd_1937', 'd_1951', 'd_1935', 'd_1958', 'd_1944', 'd_1945', 'd_1942', 'd_1933', 'd_1961', 'd_1954', 'd_1949', 'd_1922', 'd_1931', 'd_1962', 'd_1952', 'd_1955', 'd_1924', 'd_1916', 'd_1959', 'd_1917', 'd_1930', 'd_1960', 'd_1927', 'd_1948', 'd_1920', 'd_1923', 'd_1965', 'd_1950', 'd_1943', 'd_1941', 'd_1956', 'd_1968', 'd_1957', 'd_1964', 'd_1936', 'd_1966', 'd_1938', 'd_1946', 'd_1919', 'd_1939', 'd_1929', 'd_1969', 'd_1915', 'd_1921', 'd_1926', 'd_1934', 'd_1918', 'd_1947', 'd_1914', 'd_1967', 'd_1925', 'd_1940'}

Checking for invalid or extreme sales values

In [26]:
sales_values = sales[sales_days]
min_val = sales_values.min().min()
max_val = sales_values.max().max()
print(f"Min sales value: {min_val}")
print(f"Max sales value: {max_val}")

if min_val < 0:
    print("Warning: Negative sales found!")
if max_val > 10000:
    print("Warning: Some sales values seem abnormally large (>10,000)")

Min sales value: 0.0
Max sales value: 763.0

Date sorting

In [27]:
if not calender['date'].is_monotonic_increasing:
    print("Calendar dates not sorted!")
else:
    print("Calendar dates are sorted.\n")

Calendar dates are sorted.